.decline, .approved{
    background-color: antiquewhite;
    padding: 1rem;
}
h1{
    font-size: 3rem;
    color: green;
}
.header-avail{
    margin-top: 5rem;
}
.pad{
    padding: 3rem;
}
a{
    text-decoration: none;
    color: brown;
}
.avail{
    padding-top: 1rem;
    font-size: 1.9rem;
    font-weight: 900;
    text-align: center;
}
.home-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    animation: blink 1s infinite;
}

.home-link::before {
    content: '←';
    position: absolute;
    left: 0;
    font-size: 20px;
    top: 0;
}

@keyframes blink {
    0%, 100% {
        color: #007BFF; 
    }
    50% {
        color: #FF4500; 
    }
}

.home-link:hover {
    color: #FF4500;
}
#approved p {
    color: gray; /* Default text color */
    font-size: 1rem;
  }
  
  #approved p span {
    color:#FF4500; /* Color for the first word */
    font-weight: bold; /* Optional: Make the first word bold */
  }
